.dcs-wrap {
    padding:15px;

}

.dcs-wrap form {
display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dcs-form-group {
width: 44%;
    padding:10px;
    background-color: #fff;
    margin:10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px #0000004f;
    border: 1px solid black;
    border-radius:5px;
}

.dcs-wrap form h2 {
    text-transform: capitalize;
    color: black;
    text-underline-offset: 2px;
    text-decoration:underline;
    font-size: 18px;
    font-weight: 900;
}

.dcs-wrap form label {
    width: 100% !important;
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.dcs-wrap .button {
        width: 100%;
        padding:10px;
        font-size: 16px;
        font-weight: 600;
        background-color: blue;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 1px 1px 1px #0000ff75;
    }