#driveway-calculator-form {
    width: 100%;
    margin-bottom: 50px;
}

form#drivewayCalculatorForm {
    max-width: 100%;
    margin: auto;
    font-family: sans-serif;
    background: #f8f8f8;
    padding: 20px;
    color: #000;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form#drivewayCalculatorForm .step {
    transition: all 0.3s ease-in-out;
}

form#drivewayCalculatorForm h3 {
    margin-bottom: 10px;
}

form#drivewayCalculatorForm select,
form#drivewayCalculatorForm input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}



#driveway-calculator-form label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#driveway-calculator-form select {
width: 100%;
}

#calculate-button {
    width: 100%;
    margin:
        20px 0;
    background-color: transparent;
    color: white;
    padding:
        10px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
}

 form#drivewayCalculatorForm button {
     padding: 10px 20px;
     margin-right: 10px;
     background: #1d4ed8;
     color: #fff;
     border: none;
     border-radius: 6px;
     cursor: pointer;
     text-transform: uppercase;
     font-weight: 700;
     letter-spacing: 1px;
     transition: background 0.3s;
 }

 form#drivewayCalculatorForm button:hover {
     background: #2563eb;
     transition: background 0.3s;
 }